services:
  la-tauth:
    image: ghcr.io/tyemirov/tauth:latest
    container_name: la-tauth
    restart: unless-stopped
    pull_policy: always
    env_file:
      - ./configs/.env.tauth
    ports:
      - "8082:8082"
    volumes:
      - tauth-data:/data
      - ./configs/config.tauth.yml:/config/config.yml:ro
  
  la-pinguin:
    container_name: la-pinguin
    depends_on:
      - la-tauth
    image: ghcr.io/tyemirov/pinguin:latest
    restart: unless-stopped
    pull_policy: always
    ports:
      - "8081:8081"
    env_file:
      - ./configs/.env.pinguin
    volumes:
      - pinguin-data:/app/data
      - ./configs/config.pinguin.yml:/config/config.yml:ro

  loopaware:
    build: .
    container_name: loopaware
    env_file:
      - ./configs/.env.loopaware
    depends_on:
      la-pinguin:
        condition: service_started
      la-tauth:
        condition: service_started
    volumes:
      - loopaware-data:/app/data
      - ./config.yaml:/app/config.yaml:ro
    ports:
      - "8080:8080"
    restart: unless-stopped
    develop:
      watch:
        - action: sync+restart
          path: ./config.yaml
          target: /app/config.yaml
        - action: rebuild
          path: ./cmd/server
        - action: rebuild
          path: ./go.sum

volumes:
  loopaware-data:
  pinguin-data:
  tauth-data:
