---
all:
  children:
    gateway:
      hosts:
        tutosh:
          ansible_host: 192.168.1.252
          ansible_user: tyemirov
          ansible_become: true
          ansible_become_method: sudo
          ansible_ssh_transfer_method: scp
          ansible_scp_extra_args: -O
          loopaware_remote_project_root: /volume1/docker/loopaware
          loopaware_docker_cli: /usr/local/bin/docker
          loopaware_compose_project_name: mprlab-nginx-gateway
          loopaware_gateway_network: mprlab-nginx-gateway_default
          loopaware_data_volume: mprlab-nginx-gateway_loopaware-data
          loopaware_shared_tauth_env_path: /volume1/docker/mprlab-nginx-gateway/configs/.env.tauth
          loopaware_shared_pinguin_env_path: /volume1/docker/mprlab-nginx-gateway/configs/.env.pinguin
